### Importing Libraries

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Reading Dataset

In [21]:
with pd.HDFStore('raw/all_hourly_data.h5') as store:
    print(store.keys())

['/codes', '/interventions', '/patients', '/vitals_labs', '/vitals_labs_mean', '/patients/meta/values_block_6/meta', '/patients/meta/values_block_5/meta', '/patients/meta/values_block_4/meta', '/patients/meta/values_block_0/meta']

In [22]:
patients = pd.read_hdf('raw/all_hourly_data.h5', '/patients')
patients = patients.reset_index()
patients

,subject_id,hadm_id,icustay_id,gender,ethnicity,age,insurance,admittime,diagnosis_at_admission,dischtime,...,outtime,los_icu,admission_type,first_careunit,mort_icu,mort_hosp,hospital_expire_flag,hospstay_seq,readmission_30,max_hours
0,3,145834,211552,M,WHITE,76.526792,Medicare,2101-10-20 19:08:00,HYPOTENSION,2101-10-31 13:58:00,...,2101-10-26 20:43:09,6.064560,EMERGENCY,MICU,0,0,0,1,0,145
1,4,185777,294638,F,WHITE,47.845047,Private,2191-03-16 00:28:00,"FEVER,DEHYDRATION,FAILURE TO THRIVE",2191-03-23 18:41:00,...,2191-03-17 16:46:31,1.678472,EMERGENCY,MICU,0,0,0,1,0,40
2,6,107064,228232,F,WHITE,65.942297,Medicare,2175-05-30 07:15:00,CHRONIC RENAL FAILURE/SDA,2175-06-15 16:00:00,...,2175-06-03 13:39:54,3.672917,ELECTIVE,SICU,0,0,0,1,0,88
3,9,150750,220597,M,UNKNOWN/NOT SPECIFIED,41.790228,Medicaid,2149-11-09 13:06:00,HEMORRHAGIC CVA,2149-11-14 10:15:00,...,2149-11-14 20:52:14,5.323056,EMERGENCY,MICU,1,1,1,1,0,127
4,11,194540,229441,F,WHITE,50.148295,Private,2178-04-16 06:18:00,BRAIN MASS,2178-05-11 19:00:00,...,2178-04-17 20:21:05,1.584410,EMERGENCY,SICU,0,0,0,1,0,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34467,99983,117390,286606,M,UNKNOWN/NOT SPECIFIED,78.576624,Medicare,2193-04-26 11:35:00,ST ELEVATION MYOCARDIAL INFARCTION;CORONARY AR...,2193-04-29 13:30:00,...,2193-04-27 12:33:22,1.039942,EMERGENCY,CCU,0,0,0,1,0,24
34468,99991,151118,226241,M,WHITE,47.729259,Private,2184-12-24 08:30:00,DIVERTICULITIS/SDA,2185-01-05 12:15:00,...,2184-12-31 20:56:20,3.142616,ELECTIVE,TSICU,0,0,0,1,0,75
34469,99992,197084,242052,F,WHITE,65.772155,Medicare,2144-07-25 18:03:00,RETROPERITONEAL HEMORRHAGE,2144-07-28 17:56:00,...,2144-07-27 17:27:55,1.974456,EMERGENCY,MICU,0,0,0,1,0,47
34470,99995,137810,229633,F,WHITE,88.698942,Medicare,2147-02-08 08:00:00,ABDOMINAL AORTIC ANEURYSM/SDA,2147-02-11 13:15:00,...,2147-02-10 17:46:30,2.161481,ELECTIVE,CSRU,0,0,0,1,0,51
34471,99999,113369,246512,F,HISPANIC OR LATINO,63.983591,Medicare,2117-12-30 07:15:00,SPONDYLOLISTHESIS/SDA,2118-01-04 16:30:00,...,2118-01-01 14:51:27,1.124201,ELECTIVE,SICU,0,0,0,1,0,26

In [26]:
# export to csv
patients.to_csv('raw/patients.csv', index=False)

In [23]:
vitals_labs_mean = pd.read_hdf('raw/all_hourly_data.h5', '/vitals_labs_mean')
vitals_labs_mean

LEVEL2                                 alanine aminotransferase albumin  \
Aggregation Function                                       mean    mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                            25.0     1.8
                              1                             NaN     NaN
                              2                             NaN     NaN
                              3                             NaN     NaN
                              4                             NaN     NaN
...                                                         ...     ...
99999      113369  246512     22                            NaN     NaN
                              23                            NaN     NaN
                              24                            NaN     NaN
                              25                            NaN     NaN
                              26                            NaN     NaN

LEVEL2                                 albumin ascites albumin pleural  \
Aggregation Function                              mean            mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                    NaN             NaN
                              1                    NaN             NaN
                              2                    NaN             NaN
                              3                    NaN             NaN
                              4                    NaN             NaN
...                                                ...             ...
99999      113369  246512     22                   NaN             NaN
                              23                   NaN             NaN
                              24                   NaN             NaN
                              25                   NaN             NaN
                              26                   NaN             NaN

LEVEL2                                 albumin urine alkaline phosphate  \
Aggregation Function                            mean               mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                  NaN               73.0
                              1                  NaN                NaN
                              2                  NaN                NaN
                              3                  NaN                NaN
                              4                  NaN                NaN
...                                              ...                ...
99999      113369  246512     22                 NaN                NaN
                              23                 NaN                NaN
                              24                 NaN                NaN
                              25                 NaN                NaN
                              26                 NaN                NaN

LEVEL2                                  anion gap asparate aminotransferase  \
Aggregation Function                         mean                      mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0         20.666667                      69.0
                              1               NaN                       NaN
                              2               NaN                       NaN
                              3               NaN                       NaN
                              4               NaN                       NaN
...                                           ...                       ...
99999      113369  246512     22              NaN                       NaN
                              23              NaN                       NaN
                              24              NaN                       NaN
                              25              NaN                       NaN
                              26              NaN                       NaN

LEVEL2                                 basophils bicarbonate  ...  \
Aggregation Function                        mean        mean  ...
subject_id hadm_id icustay_id hours_in                        ...
3          145834  211552     0              NaN   16.333333  ...
                              1              NaN         NaN  ...
                              2              NaN         NaN  ...
                              3              NaN         NaN  ...
                              4              NaN         NaN  ...
...                                          ...         ...  ...
99999      113369  246512     22             NaN         NaN  ...
                              23             NaN         NaN  ...
                              24             NaN         NaN  ...
                              25             NaN         NaN  ...
                              26             NaN         NaN  ...

LEVEL2                                 total protein total protein urine  \
Aggregation Function                            mean                mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                  NaN                 NaN
                              1                  NaN                 NaN
                              2                  NaN                 NaN
                              3                  NaN                 NaN
                              4                  NaN                 NaN
...                                              ...                 ...
99999      113369  246512     22                 NaN                 NaN
                              23                 NaN                 NaN
                              24                 NaN                 NaN
                              25                 NaN                 NaN
                              26                 NaN                 NaN

LEVEL2                                 troponin-i troponin-t venous pvo2  \
Aggregation Function                         mean       mean        mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0               NaN        NaN         NaN
                              1               NaN        NaN         NaN
                              2               NaN        NaN         NaN
                              3               NaN        NaN         NaN
                              4               NaN        NaN         NaN
...                                           ...        ...         ...
99999      113369  246512     22              NaN        NaN         NaN
                              23              NaN        NaN         NaN
                              24              NaN        NaN         NaN
                              25              NaN        NaN         NaN
                              26              NaN        NaN         NaN

LEVEL2                                 weight white blood cell count  \
Aggregation Function                     mean                   mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0           NaN              14.842857
                              1           NaN                    NaN
                              2           NaN                    NaN
                              3           NaN                    NaN
                              4           NaN                    NaN
...                                       ...                    ...
99999      113369  246512     22          NaN                    NaN
                              23          NaN                    NaN
                              24          NaN                    NaN
                              25          NaN                    NaN
                              26          NaN                    NaN

LEVEL2                                 white blood cell count urine    ph  \
Aggregation Function                                           mean  mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                                 NaN  7.40
                              1                                 NaN   NaN
                              2                                 NaN  7.26
                              3                                 NaN   NaN
                              4                                 NaN   NaN
...                                                             ...   ...
99999      113369  246512     22                                NaN   NaN
                              23                                NaN   NaN
                              24                                NaN   NaN
                              25                                NaN   NaN
                              26                                NaN   NaN

LEVEL2                                 ph urine
Aggregation Function                       mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0             5.0
                              1             NaN
                              2             NaN
                              3             NaN
                              4             NaN
...                                         ...
99999      113369  246512     22            NaN
                              23            NaN
                              24            NaN
                              25            NaN
                              26            NaN

[2200954 rows x 104 columns]

In [24]:
vitals_labs_mean.columns

MultiIndex([(    'alanine aminotransferase', 'mean'),
            (                     'albumin', 'mean'),
            (             'albumin ascites', 'mean'),
            (             'albumin pleural', 'mean'),
            (               'albumin urine', 'mean'),
            (          'alkaline phosphate', 'mean'),
            (                   'anion gap', 'mean'),
            (   'asparate aminotransferase', 'mean'),
            (                   'basophils', 'mean'),
            (                 'bicarbonate', 'mean'),
            ...
            (               'total protein', 'mean'),
            (         'total protein urine', 'mean'),
            (                  'troponin-i', 'mean'),
            (                  'troponin-t', 'mean'),
            (                 'venous pvo2', 'mean'),
            (                      'weight', 'mean'),
            (      'white blood cell count', 'mean'),
            ('white blood cell count urine', 'mean'),
            (                          'ph', 'mean'),
            (                    'ph urine', 'mean')],
           names=['LEVEL2', 'Aggregation Function'], length=104)

In [25]:
# Đọc dữ liệu từ file HDF5
vitals_labs_mean = pd.read_hdf('raw/all_hourly_data.h5', '/vitals_labs_mean')

# Lọc bỏ dòng có giá trị là 'mean' ở cột Aggregation Function
vitals_labs_mean = vitals_labs_mean[vitals_labs_mean.index.get_level_values(1) != 'mean']

# Đặt lại index để biến subject_id, hadm_id, icustay_id, hours_in thành cột
vitals_labs_mean = vitals_labs_mean.reset_index()

# Chuyển đổi MultiIndex thành cột đơn
vitals_labs_mean.columns = [col[0] if isinstance(col, tuple) else col for col in vitals_labs_mean.columns]

# Kiểm tra kết quả
vitals_labs_mean

,subject_id,hadm_id,icustay_id,hours_in,alanine aminotransferase,albumin,albumin ascites,albumin pleural,albumin urine,alkaline phosphate,...,total protein,total protein urine,troponin-i,troponin-t,venous pvo2,weight,white blood cell count,white blood cell count urine,ph,ph urine
0,3,145834,211552,0,25.0,1.8,NaN,NaN,NaN,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,14.842857,NaN,7.40,5.0
1,3,145834,211552,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,145834,211552,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.26,NaN
3,3,145834,211552,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,145834,211552,4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200949,99999,113369,246512,22,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2200950,99999,113369,246512,23,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2200951,99999,113369,246512,24,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2200952,99999,113369,246512,25,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2200953,99999,113369,246512,26,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
vitals_labs_mean.to_csv('raw/vitals_labs_mean.csv', index=False)

### Data preprocessing (referenced in the research paper .doc)

In [7]:
patients[patients['intime'] > patients['admittime']][['subject_id', 'hadm_id', 'icustay_id', 'admittime', 'intime']]

       subject_id  hadm_id  icustay_id           admittime              intime
0               3   145834      211552 2101-10-20 19:08:00 2101-10-20 19:10:11
1               4   185777      294638 2191-03-16 00:28:00 2191-03-16 00:29:31
2               6   107064      228232 2175-05-30 07:15:00 2175-05-30 21:30:54
3               9   150750      220597 2149-11-09 13:06:00 2149-11-09 13:07:02
4              11   194540      229441 2178-04-16 06:18:00 2178-04-16 06:19:32
...           ...      ...         ...                 ...                 ...
34467       99983   117390      286606 2193-04-26 11:35:00 2193-04-26 11:35:51
34468       99991   151118      226241 2184-12-24 08:30:00 2184-12-28 17:30:58
34469       99992   197084      242052 2144-07-25 18:03:00 2144-07-25 18:04:42
34470       99995   137810      229633 2147-02-08 08:00:00 2147-02-08 13:53:58
34471       99999   113369      246512 2117-12-30 07:15:00 2117-12-31 11:52:36

[33878 rows x 5 columns]

Trong dữ liệu có nhiều bệnh nhân có thời gian bắt đầu điều trị ICU lần đầu tiên diễn ra trước thời gian nhập viện. Điều này có thể lí giải là nhiều bệnh nhân nhập viện trong tình
trạng khẩn cấp (bị bệnh nặng, tai nạn hoặc thai phụ sinh sản) nên được đưa vào ICU trước khi làm thủ tục nhập viện. Chúng tôi giải quyết những trường hợp này bằng cách thay thời gian nhập viện bởi thời gian vào ICU lần đầu tiên.

In [8]:
# Cập nhật thời gian nhập viện cho những bệnh nhân có intime trước admittime
patients.loc[patients['intime'] > patients['admittime'], 'admittime'] = patients['intime']

In [9]:
patients[patients['intime'] > patients['admittime']][['subject_id', 'hadm_id', 'icustay_id', 'admittime', 'intime']]

Empty DataFrame
Columns: [subject_id, hadm_id, icustay_id, admittime, intime]
Index: []

---

In [10]:
patients[patients['dischtime'] < patients['admittime']][['subject_id', 'hadm_id', 'icustay_id', 'admittime', 'dischtime']]

       subject_id  hadm_id  icustay_id           admittime           dischtime
120           181   102631      246694 2153-10-12 09:52:00 2153-10-12 06:29:00
1520         2420   135098      227111 2184-12-01 19:28:00 2184-12-01 16:50:00
3376         5567   182804      233453 2181-07-09 15:31:35 2181-07-09 12:00:00
4147         6832   164068      208677 2142-05-23 13:21:23 2142-05-23 12:00:00
5186         8604   102784      218796 2110-01-06 15:16:19 2110-01-06 12:00:00
7232        11983   129454      207034 2138-08-14 14:12:59 2138-08-14 12:00:00
7774        12844   181672      285687 2192-05-07 12:24:43 2192-05-07 12:00:00
11215       18567   143379      202436 2133-02-08 15:25:00 2133-02-08 07:17:00
11559       19124   156524      275239 2139-10-12 04:18:57 2139-10-12 01:13:00
12272       20349   131432      278656 2183-12-10 16:50:00 2183-12-10 07:48:00
12824       21272   156385      291938 2162-09-25 07:37:00 2162-09-25 01:23:00
16671       27558   112191      267222 2177-08-16 12:02:02 2177-08-16 12:00:00
17510       28760   168303      246109 2167-01-14 13:30:53 2167-01-14 12:00:00
17550       28822   187804      225516 2162-04-02 12:38:32 2162-04-02 12:00:00
19414       31644   195619      270822 2139-07-27 23:25:00 2139-07-27 18:30:00
21326       45104   127436      249259 2199-03-25 22:02:00 2199-03-25 16:32:00
25469       62033   138301      218888 2134-08-19 02:36:31 2134-08-19 00:01:00
27245       69351   172099      224428 2178-02-13 03:15:50 2178-02-13 02:30:00
28166       73310   168429      200586 2151-01-22 10:16:24 2151-01-22 00:00:00
28518       74937   146708      269115 2103-08-12 01:34:44 2103-08-12 00:00:00
30687       83967   182476      299943 2151-08-25 20:53:00 2151-08-25 15:40:00

Có một số bệnh nhân có thời gian nhập viện xảy ra sau thời gian xuất viện. Điều này là vô lý, do đó chúng tôi loại bỏ những bệnh nhân này khỏi bộ dữ liệu.

In [11]:
# Loại bỏ những bệnh nhân có dischtime trước admittime
patients = patients[patients['dischtime'] > patients['admittime']]

In [12]:
patients[patients['dischtime'] < patients['admittime']][['subject_id', 'hadm_id', 'icustay_id', 'admittime', 'dischtime']]

Empty DataFrame
Columns: [subject_id, hadm_id, icustay_id, admittime, dischtime]
Index: []

---

In [13]:
# Tính tổng thời gian nằm viện và lưu vào cột total_los
patients.loc[:, 'total_los'] = (patients['dischtime'] - patients['admittime']).dt.total_seconds() / 86400

/tmp/ipykernel_25162/2988782483.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  patients.loc[:, 'total_los'] = (patients['dischtime'] - patients['admittime']).dt.total_seconds() / 86400

In [14]:
patients[patients['total_los'] < patients['los_icu']][['subject_id', 'hadm_id', 'icustay_id', 'los_icu', 'total_los']]

       subject_id  hadm_id  icustay_id   los_icu  total_los
3               9   150750      220597  5.323056   4.880532
15             25   129635      203487  3.546574   3.485150
19             31   128652      254478  7.937940   7.646736
35             55   190665      262723  1.913808   1.829444
40             63   195961      244541  0.522581   0.518796
...           ...      ...         ...       ...        ...
34445       99897   162913      266801  1.609687   1.588310
34446       99899   188409      245756  9.143889   9.064826
34454       99935   174624      255381  0.659826   0.114363
34461       99955   108494      243255  5.671933   5.116424
34464       99966   167228      252173  1.703391   1.675185

[4400 rows x 5 columns]

In [15]:
patients[patients['total_los']+0.5 <= patients['los_icu']][['subject_id', 'hadm_id', 'icustay_id', 'los_icu', 'total_los']]

       subject_id  hadm_id  icustay_id   los_icu  total_los
279           417   178013      207928  1.341331   0.371551
427           657   165342      243768  3.455949   2.455521
569           886   130937      294616  2.261806   1.261806
585           908   134650      229578  2.276539   1.623576
602           937   148592      228181  5.253021   3.554606
...           ...      ...         ...       ...        ...
33915       97609   166990      243152  2.443762   0.980752
34194       98797   105447      244147  1.238171   0.660926
34235       98995   123142      223471  1.945012   0.391829
34454       99935   174624      255381  0.659826   0.114363
34461       99955   108494      243255  5.671933   5.116424

[392 rows x 5 columns]

Có 4400 bệnh nhân có tổng thời gian nằm viện nhỏ hơn tổng thời gian nằm ICU. Điều này có thể xảy ra vì một số bệnh nhân có tình trạng khẩn cấp phải vào điều trị ICU trước khi làm thủ tục nhập viện. Tuy nhiên, theo chúng tôi với những bệnh nhân có chênh lệch giữa tổng thời gian nằm viện và thời gian nằm ICU lần đầu lớn chúng cần bị loại bỏ, vì ta không rõ nguyên nhân gây ra hiện tượng đó. 

Từ hai lập luận bên trên, chúng tôi đề xuất một giải pháp dung hòa để xử lí vấn đề này như sau: loại bỏ ra khỏi tập dữ liệu những bệnh nhân có thời gian nằm ICU lần đầu lớn hơn tổng thời gian nằm viện với điều kiện khoảng cách giữa 2 khoảng thời gian này không vượt quá 0,5 ngày(điều kiện dung hòa). Khi đó, đối với những trường hợp bệnh nhân được giữ lại nhờ điều kiện dung hòa như trên, chúng tôi sẽ gán tổng thời gian nằm viện chính là thời gian nằm ICU lần đầu.

In [16]:
# Lọc bỏ những bệnh nhân có tổng thời gian nằm viện nhỏ hơn thời gian nằm ICU
patients = patients[
    ((patients['los_icu'] < patients['total_los']) &   # 'los_icu' lớn hơn 'total_los'
    ((patients['los_icu'] - patients['total_los']) <= 0.5))  # khoảng cách không vượt quá 0.5
]

In [17]:
# Chuyển các giá trị có total_los < los_icu thành los_icu
patients.loc[patients['total_los'] < patients['los_icu'], 'total_los'] = patients['los_icu']

patients.loc[patients['total_los'] == patients['los_icu'], 'admittime'] = patients['intime'] 

patients.loc[patients['total_los'] == patients['los_icu'], 'dischtime'] = patients['outtime']

In [18]:
patients

,subject_id,hadm_id,icustay_id,gender,ethnicity,age,insurance,admittime,diagnosis_at_admission,dischtime,...,los_icu,admission_type,first_careunit,mort_icu,mort_hosp,hospital_expire_flag,hospstay_seq,readmission_30,max_hours,total_los
0,3,145834,211552,M,WHITE,76.526792,Medicare,2101-10-20 19:10:11,HYPOTENSION,2101-10-31 13:58:00,...,6.064560,EMERGENCY,MICU,0,0,0,1,0,145,10.783206
1,4,185777,294638,F,WHITE,47.845047,Private,2191-03-16 00:29:31,"FEVER,DEHYDRATION,FAILURE TO THRIVE",2191-03-23 18:41:00,...,1.678472,EMERGENCY,MICU,0,0,0,1,0,40,7.757975
2,6,107064,228232,F,WHITE,65.942297,Medicare,2175-05-30 21:30:54,CHRONIC RENAL FAILURE/SDA,2175-06-15 16:00:00,...,3.672917,ELECTIVE,SICU,0,0,0,1,0,88,15.770208
4,11,194540,229441,F,WHITE,50.148295,Private,2178-04-16 06:19:32,BRAIN MASS,2178-05-11 19:00:00,...,1.584410,EMERGENCY,SICU,0,0,0,1,0,38,25.528102
5,12,112213,232669,M,WHITE,72.374177,Medicare,2104-08-08 02:08:17,PANCREATIC CANCER/SDA,2104-08-20 02:57:00,...,7.634815,ELECTIVE,SICU,0,1,1,1,0,183,12.033831
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34467,99983,117390,286606,M,UNKNOWN/NOT SPECIFIED,78.576624,Medicare,2193-04-26 11:35:51,ST ELEVATION MYOCARDIAL INFARCTION;CORONARY AR...,2193-04-29 13:30:00,...,1.039942,EMERGENCY,CCU,0,0,0,1,0,24,3.079271
34468,99991,151118,226241,M,WHITE,47.729259,Private,2184-12-28 17:30:58,DIVERTICULITIS/SDA,2185-01-05 12:15:00,...,3.142616,ELECTIVE,TSICU,0,0,0,1,0,75,7.780579
34469,99992,197084,242052,F,WHITE,65.772155,Medicare,2144-07-25 18:04:42,RETROPERITONEAL HEMORRHAGE,2144-07-28 17:56:00,...,1.974456,EMERGENCY,MICU,0,0,0,1,0,47,2.993958
34470,99995,137810,229633,F,WHITE,88.698942,Medicare,2147-02-08 13:53:58,ABDOMINAL AORTIC ANEURYSM/SDA,2147-02-11 13:15:00,...,2.161481,ELECTIVE,CSRU,0,0,0,1,0,51,2.972940
34471,99999,113369,246512,F,HISPANIC OR LATINO,63.983591,Medicare,2117-12-31 11:52:36,SPONDYLOLISTHESIS/SDA,2118-01-04 16:30:00,...,1.124201,ELECTIVE,SICU,0,0,0,1,0,26,4.192639

---

In [19]:
patients[patients['total_los'] > 90]

,subject_id,hadm_id,icustay_id,gender,ethnicity,age,insurance,admittime,diagnosis_at_admission,dischtime,...,los_icu,admission_type,first_careunit,mort_icu,mort_hosp,hospital_expire_flag,hospstay_seq,readmission_30,max_hours,total_los
93,145,198161,226841,F,WHITE,54.993875,Medicaid,2144-03-29 01:44:54,THORACIC DISSECTION,2144-07-14 16:15:00,...,5.588183,EMERGENCY,CCU,0,0,0,1,1,134,107.604236
3343,5518,161291,287438,M,HISPANIC OR LATINO,20.212842,Medicaid,2117-04-16 13:53:18,LARGE ABDOMINAL FISTULA,2117-08-14 14:15:00,...,4.239259,ELECTIVE,TSICU,0,0,0,1,0,101,120.015069
3625,5962,186417,281841,M,ASIAN - ASIAN INDIAN,54.990520,Government,2195-09-24 20:20:14,RENAL FAILURE,2195-12-30 15:45:00,...,8.022894,EMERGENCY,SICU,0,0,0,1,1,192,96.808866
4441,7354,109520,294350,F,WHITE,38.552050,Medicare,2141-03-10 19:51:53,HEPATIC ENCEPHALOPATHY,2141-07-27 13:49:00,...,0.846123,EMERGENCY,MICU,0,0,0,1,0,20,138.747998
8398,13887,138596,233758,M,UNKNOWN/NOT SPECIFIED,78.371956,Medicare,2104-12-06 17:31:00,ENTEROCUTANEOUS FISTULA,2105-03-26 11:20:00,...,1.804861,URGENT,CSRU,0,0,0,1,0,43,109.742361
9575,15812,106017,200071,F,WHITE,36.610843,Private,2101-04-07 19:37:03,CIRRHOSIS,2101-08-06 12:32:00,...,0.832535,EMERGENCY,MICU,0,0,0,1,1,19,120.704826
11098,18348,108017,276310,M,UNKNOWN/NOT SPECIFIED,45.149019,Medicaid,2141-11-09 07:38:07,"FOUND DOWN,SUB DURAL HEMATOMA",2142-02-21 11:55:00,...,6.611262,EMERGENCY,TSICU,0,0,0,1,0,158,104.178391
11446,18944,173283,208879,F,WHITE,64.835137,Medicare,2164-07-24 12:21:45,ENDOMETRIAL CANCER/SDA,2165-01-11 15:08:00,...,3.415556,ELECTIVE,MICU,0,0,0,1,0,81,171.115451
12534,20779,154357,244883,F,UNKNOWN/NOT SPECIFIED,54.653697,Private,2149-03-06 19:49:00,PANCREATIC FISTULA,2149-06-22 19:17:00,...,7.818056,URGENT,SICU,0,1,1,1,0,187,107.977778
12545,20796,166936,221558,F,WHITE,51.724030,Private,2133-12-29 18:55:00,SMALL BOWEL FISTULA,2134-04-24 18:10:00,...,2.979861,URGENT,CSRU,0,0,0,1,0,71,115.968750
13031,21607,126571,275555,M,BLACK/AFRICAN AMERICAN,56.161620,Medicare,2139-11-11 13:58:30,ALTERED MENTAL STATUS;TELEMETRY,2140-02-26 15:32:00,...,5.444398,EMERGENCY,MICU,0,0,0,1,0,130,107.064931
14385,23844,168279,216229,F,WHITE,36.629430,Private,2132-04-22 14:32:55,ABDOMINAL FISTULA,2132-08-20 13:45:00,...,0.966898,EMERGENCY,SICU,0,0,0,1,0,23,119.966725
15003,24880,157141,215333,M,WHITE,57.887724,Medicaid,2118-04-13 00:40:29,ALTERED MENTAL STATUS,2118-09-21 14:25:00,...,5.664722,EMERGENCY,MICU,0,0,0,1,0,135,161.572581
16824,27766,116756,299674,M,HISPANIC OR LATINO,54.831738,Medicare,2167-01-24 20:29:25,MULTIPLE MYELOMA\BONE MARROW TRANSPLANT,2167-05-15 11:00:00,...,8.933831,ELECTIVE,MICU,0,1,1,1,0,214,110.604572
16876,27845,103113,208920,M,HISPANIC/LATINO - DOMINICAN,54.683853,Private,2181-12-19 20:09:28,INTRACRANIAL HEMORRHAGE,2182-04-10 14:30:00,...,9.118113,EMERGENCY,SICU,0,0,0,1,0,218,111.764259
20817,42904,180714,249718,M,UNABLE TO OBTAIN,66.004760,Medicare,2174-04-22 17:03:25,HEPATACELLULAR CARCINOMA/SDA,2174-08-23 10:19:00,...,8.186343,ELECTIVE,SICU,0,1,1,1,1,196,122.719155
20862,43086,143354,273656,F,WHITE,37.486222,Private,2186-01-12 13:01:27,END STAGE LIVER DISEASE,2186-04-13 14:50:00,...,1.352650,EMERGENCY,MICU,0,0,0,1,0,32,91.075382
22172,48479,123178,251023,M,UNKNOWN/NOT SPECIFIED,27.299921,Private,2180-07-17 01:51:56,LIVER FAILURE,2180-11-02 12:33:00,...,1.685000,EMERGENCY,SICU,0,0,0,1,0,40,108.445185
32887,93321,115396,210628,M,WHITE,61.945121,Private,2128-03-24 23:02:22,ANEMIA,2128-10-17 09:14:00,...,1.676609,EMERGENCY,MICU,0,1,1,1,0,40,206.424745